
@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    NEXT-ONE TECHNOLOGY is recognized as a dynamic IT Organization continuing to ... 
    Flat# H/1, Block# E, Lalmatia, Mohammadpur, 1207 Dhaka, Dhaka Division.
</address>
